@model Project_EF.Models.Order
    <center>
        <h4>Xác nhận đơn hàng đã xuất đi</h4>
        <form asp-action="Edit">
            <input type="hidden" asp-for="OrderId" />
            <div>
                <input type="submit" value="Có" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>
        </form>
    </center>