@model Project_EF.Models.User
@{
    ViewData["Title"] = "Đăng nhập";
    <link rel="stylesheet" href="~/css/register.css" />
    Layout = "";
}

<div class="signup">
    <div class="signup-connect">
        <img src="https://xaynhasaigon.vn/wp-content/uploads/2017/09/noi-that-nha-hien-dai-6.jpg" alt="">
    </div>
    <div class="signup-classic">
        <form class="form" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset class="username">
                <input type="text" asp-for="username" placeholder="Tên đăng nhập" />
                <span asp-validation-for="username" class="text-danger"></span>
            </fieldset>
            <fieldset class="password">
                <input type="password" asp-for="password" placeholder="Mật khẩu" />
                <span asp-validation-for="password" class="text-danger"></span>
            </fieldset>
            <button type="submit" class="btn">Đăng kí</button>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
