@using Newtonsoft.Json
@{
    if (ViewBag.jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<CartItem>>(ViewBag.jsoncart);
        <li><a asp-route="cart">Giỏ hàng(@cart.Count)</a></li> }
    else
    {
        <li><a asp-route="cart">Giỏ hàng(0)</a></li> }

}